<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>

  <script type = 'text/javascript'>
    var CKEDITOR_BASEPATH = '/assets/ckeditor/';
  </script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%#= javascript_include_tag "ckeditor/ckeditor.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
